* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root {
    --black: #333;
    --white: #fff;
}
.dark {
    --black: #fff;
    --white: #333;
}
header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}
header .logo {
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0 0.5em;
    text-transform: uppercase;
    user-select: none;
}
.side {
    display: flex;
}
.btns {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns ion-icon {
    font-size: 1.5em;
    color: var(--black);
}
.btns.menu ion-icon {
    font-size: 3em;
}
.btns ion-icon:nth-child(2) {
    display: none;
}
.btns.active ion-icon:nth-child(2) {
    display: block;
}
.btns.active ion-icon:nth-child(1) {
    display: none;
}
main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
    transition: .3s;
}
.dark .mask {
    filter: invert(1);
    mix-blend-mode: multiply;
}
.navigation {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 3;
    transition: .5s;
}
.navigation.active {
    left: 0;
}
.navigation li {
    list-style: none;
}
.navigation li a {
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.35em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
}
.navigation li a:hover {
    background: var(--black);
    color: var(--white);
}
.copyright-text {
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 3;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--black);
}
.social {
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.social li {
    list-style: none;
}
.social li a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.75em;
}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }
    .copyright-text {
        left: 20px;
        bottom: 30px;
    }
    .social {
        right: 20px;
        bottom: 20px;
    }
}